
#preview{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

label input {
  display: none;
}

#clearbtn {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  font-size: 25px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 33%;
  text-align: center;
  overflow: hidden;
  transition: .4s;

  position: absolute;
  top: 3%;
  left: -1%;
}

#photo {
    position: relative;
}

#addbtn {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  font-size: 27px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);

  position: absolute;
  top: 83%;
  left: 69%;
}

nav{
  display: block
}

.nav-horizontal{
	width:100%;
	overflow: hidden;
}

.mask{
  width: 100%;
  overflow-x: auto;
}

.menu-list{
  display: inline-table;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

#menu-list li{
  display: table-cell;
  white-space: nowrap;
  font-size: 80%;
  line-height: 1.4;
}

#menu-list li a:hover{
  color: rgb(0, 148, 123);
  border-bottom:solid;
  border-color: rgb(0, 148, 123);
  border-width: 4px;
}

#menu-list li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 2em;
  display: block;
  border-bottom:solid;
  border-color: rgb(0, 148, 123);
  border-width: 1px;
}
